@use "sass:math";
@use 'global';
@use 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "node_modules/magnific-popup/dist/magnific-popup";


$root-font-size: 16;

@function s($size) {
  @return math.div($size, $root-font-size) * 1rem;
}

html {
  font-family: 'Commissioner';
  font-size: 88%;

  @media (min-width: 375px) {
    font-size: 100%;
  }
}

body {
  color: #333333;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.5;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
}

a {
  transition: .3s;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }

  p {
    @apply mb-4
  }

  input, textarea, button {
    @apply outline-none
  }
}

//@layer components {
//  .card {
//    background-color: theme('colors.white');
//    border-radius: theme('borderRadius.lg');
//    padding: theme('spacing.6');
//    box-shadow: theme('boxShadow.xl');
//  }
//  /* ... */
//}

.catalog-nav {
  li {
    .catalog-nav__a {
      border: 1px solid #87CB94;
      color: #000000;
      transition: 0.3s;
    }

    &.active {
      .catalog-nav__a {
        border: 1px solid #16795F;
        color: #FFFFFF;
        background-color: #16795F;
        pointer-events: none;
      }
    }
  }
}

.checkbox-hidden:checked + .custom-checkbox {
  &::before {
    content: '';
    background-image: url("../images/elements/check.svg");
    background-size: s(10) s(6);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: s(10);
    height: s(6);
  }
}

.filters-section:not(:last-of-type) {
  border-bottom: 1px solid #C5C5C5;
}

.filters-block {
  @media (min-width: 992px) {
      display: block!important;
  }
}

.culture-img-box {
  background-image: url("../images/elements/culture-img-box.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cultures-nav {
  li {
    &.active {
      a {
        box-shadow: 0 0 0 2px #87CB94;
        pointer-events: none;
      }
    }
  }
}

table {
  border: 1px solid #C5C5C5;
  font-size: s(12);
  min-width: s(684);

  @media (min-width: 768px) {
    font-size: s(14);
  }

  @media (min-width: 1200px) {
    font-size: s(16);
  }

  thead {
    font-weight: 500;
  }

  td {
    border: 1px solid #C5C5C5;
    padding: s(10);
    vertical-align: top;
    @media (min-width: 1200px) {
      padding: s(20);
    }
  }
}

.open-block {
  .open-block__caption-chevron {
    transition: 0.3s;
    transform: rotateX(0);
  }
  &.open {
    .open-block__caption-chevron {
      transform: rotateX(180deg);
    }
  }
}