div(class="contacts-right z-20 bg-white fixed bottom-4 right-4 sm:bottom-6 sm:right-6 rounded-full w-10 sm:w-16 h-10 sm:h-16 cursor-pointer" style="box-shadow: 4px 7px 50px rgba(0, 0, 0, 0.15);")
    div(class="relative flex items-center justify-center w-full h-full")
        img(src=require('../images/elements/chat.svg') alt="" class="w-6 h-6 sm:w-8 sm:h-8")
        div(class="contacts-right__block hidden absolute bg-white px-4 pt-4 pb-3")
            div(class="text-sm text-black") Телефон для связи:
            div(class="text-xl font-semibold mt-2")
                a(href="[[tel:tel_phone]]") +371 22 057 799
            div(class="flex mt-3 pt-3 border-t border-[#5C5C5C]")
                a(href="#" class="flex-shrink-0 w-8 h-8 mr-4")
                    img(src=require('../images/elements/chat-phone.svg') alt="")
                a(href="#" class="flex-shrink-0 w-8 h-8 mr-4")
                    img(src=require('../images/elements/chat-whata-app.svg') alt="")
                a(href="#" class="flex-shrink-0 w-8 h-8 mr-4")
                    img(src=require('../images/elements/chat-email.svg') alt="")