div(class='mt-36 bg-[#595959] text-white py-10')
    .container
        div(class='flex flex-wrap -mx-4')
            div(class='w-1/2 md:w-3/12 lg:w-2/12 xl:w-3/12 px-4')
                a(href='#')
                    img(src=require('../images/elements/logo.svg'))
                div(class='text-xs mt-12')
                    div ООО «АФД»
                    div.mt-2 ИНН 7704776064
                    div.mt-2 КПП 770701001
                    div.mt-2 ОГРН 1117746118148
            div(class='w-full sm:w-1/3 md:w-1/3 lg:w-3/12 xl:w-2/12 px-4 mt-6 sm:mt-0 hidden lg:block')
                ul(class='flex flex-col')
                    li(class='font-semibold pointer-events-none')
                        a(href='#' class="hover:opacity-80") Компания
                    li(class='mt-2')
                        a(href='#' class="hover:opacity-80") Продукция
                    li(class='mt-2')
                        a(href='#' class="hover:opacity-80") Культуры
                    li(class='mt-2')
                        a(href='#' class="hover:opacity-80") Справочник
                    li(class='mt-2')
                        a(href='#' class="hover:opacity-80") Новости компании
                    li(class='mt-2')
                        a(href='#' class="hover:opacity-80") Контакты
            div(class='w-1/2 md:w-3/12 lg:w-2/12 px-4 mt-0')
                div(class='flex flex-col justify-between items-start h-full')
                    div.font-semibold Телефон
                    div
                        a(href='tel:[[++tel:tel_phone]]' class='hover:opacity-90') 8 800 000 00 00
                    div.font-semibold.mt-3 Viber
                    div
                        a(href='tel:[[++viber]]' class='hover:opacity-90') 8 800 000 00 00
                    div.font-semibold.mt-3 E-mail
                        div
                            a(href='mailto:[[++email]]' class='hover:opacity-90') info@afd.ru
            div(class='w-full md:w-6/12 lg:w-4/12 px-4 mt-8 md:mt-0')
                form
                    div Оставьте свою почту и&nbspмы свяжемся с&nbsp;вами
                    div.flex.mt-4
                        div.mr-2.w-full.max-w-xs
                            input(type='text' name='email' class='w-full rounded-md bg-white h-12 border border-[#E7E7E7] placeholder-[#99] px-3' placeholder='E-mail')
                        button(type='submit' class='shrink-0 hover:brightness-50 duration-300')
                            span(class='bg-#16 rounded-md text-white w-12 h-12 w-full inline-flex items-center justify-center')
                                <svg width="25" height="8" viewBox="0 0 25 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.3536 4.35355C24.5488 4.15829 24.5488 3.84171 24.3536 3.64645L21.1716 0.464466C20.9763 0.269204 20.6597 0.269204 20.4645 0.464466C20.2692 0.659728 20.2692 0.976311 20.4645 1.17157L23.2929 4L20.4645 6.82843C20.2692 7.02369 20.2692 7.34027 20.4645 7.53553C20.6597 7.7308 20.9763 7.7308 21.1716 7.53553L24.3536 4.35355ZM0 4.5H24V3.5H0V4.5Z" fill="white"/>
                                </svg>
                div.mt-5
                    a(href='#' class='text-xs hover:opacity-80 underline') Политика конфиденциальности
                div.mt-4
                    div(class='text-xs') «АФД» © 2022 все права защищены
                div.mt-2
                    a(href='#' class='text-xs hover:opacity-80 underline') Разработка сайта Live design